.LoginForm{
    display: flex;
    flex-direction: column;
}
.input{
    margin-top: 10px;
}
.lognBtn{
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: var( --secondary-color);
    height: 25px;
}