.LoginForm{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: space-between;
}
.input{
    margin-top: 10px;
}
.lognBtn{
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: var(--primary-color);
    height: 25px;
    font: var(--font-m);
    color: var( --bg-color);
}