.Button {
    cursor: pointer;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}
.disabled{
    opacity: 0.5;
}
.outline{
    padding: 10px 15px;
    border: 1px solid var(--primary-color);
    color:var(--primary-color);
    background: none;
}
.background-inverted{
    background: var(--bg-color);
    color:var(--primary-color)
}
.background{
    background: var(--inverted-bg-color);
    color:var(--secondary-color)
}
.sqare{
    padding: 0;
}
.square.size_m{
    width:var(--font-line-m);
    height:var(--font-line-m);
}
.square.size_l{
    width: var(--font-line-l);
    height: var(--font-line-l);
}
.square.size_m{
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}
.size_l{
    font-size: var(--font-size-l);
}
.size_xl{
    font-size: var(--font-size-xl);
}
.size_m{
    font-size: var(--font-size-m);
}
.clearInverted{
    
}