.InputWrapper {
    display: flex;
    margin-top: 10px;
    font: var(--font-m);
    color: var(--primary-color);
}

.placeholder {
    margin-right: 10px;
}

.input {
    margin-left: 20px;
    background: transparent;
    width: 100%;
    border: 2px solid var(--inverted-primary-color);
    border-image: linear-gradient(to left top,var(--primary-color) 10%,  var(--inverted-primary-color) 30%, var(--inverted-primary-color) 70%, var(--secondary-color) 90%);
    border-image-slice: 1;
    &:focus {
        outline: none;
    }
}
.readonly{
    border:none
}


