.app_dark_theme {
    --bg-color: #32323a;
    --inverted-bg-color: #fff3ff;

    --primary-color: #c695fd;
    --secondary-color: #8c6494;

    --inverted-primary-color: #c20288;
    --inverted-secondary-color: #ff0479;

    --skeleton-shadow:#8c6494;
    --skeleton-color: #c695fd;
}


