.app_light_theme {
    --bg-color: #fff3ff;
    --inverted-bg-color: #32323a;

    --primary-color: #470050;
    --secondary-color: #c622d4;

    --inverted-primary-color: #c20288;
    --inverted-secondary-color: #ff0479;

    --skeleton-shadow:#470050;
    --skeleton-color: #c622d4;
}
